* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./route_accueil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}
header {
  display: flex;
  padding: 16px;
  background-image: url("./route.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  & #banniere {
    text-align: center;
    display: none;
  }
  & #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  & #nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  & .flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
  }
  & .global {
    border: 2px solid red;
    min-height: 100px;
    width: 200px;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    list-style-type: none;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
  }
  nav a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    font-family: fantasy;
    font-size: xx-large;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }

  .nav-links li {
    position: relative; /* Nécessaire pour les menus déroulants */
  }

  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    display: none; /* Masquer le menu par défaut */
    position: absolute;
    top: 100%; /* Positionner le menu juste en dessous */
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    min-width: 150px;
    flex-direction: column;
    z-index: 1000; /* Assurez-vous que le menu est au-dessus des autres éléments */
  }

  .dropdown-menu li {
    background-color: #02449b;
    padding: 10px 20px;
  }

  .dropdown-menu li a {
    color: #f88903;
    display: block;
    transition: background-color 0.3s ease;
  }

  /* Lors du survol de l'élément parent (li) ou du menu déroulant, on affiche le menu */
  .dropdown:hover .dropdown-menu {
    display: block; /* Afficher le menu lors du survol */
  }

  /* Effet de survol */
  .nav-links li a:hover {
    background-color: #02449b;
  }

  .dropdown-menu li a:hover {
    background-color: #004698;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-family: fantasy;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}
div#accueil {
  background-color: #8b97ad;
  & p2 {
    font-family: Atkinson;
    font-size: 1.5rem;
    font-weight: 200;
    color: black;
    letter-spacing: 3px;
    text-transform: none;
    text-align: center;
    margin: 20px 0;
    padding: 10px 20px;
    gap: 20px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-family: fantasy;
      font-size: 1.5rem;
      font-weight: 400;
      color: #f98b08;
      letter-spacing: 3px;
      text-transform: none;
      text-align: center;
      margin: 20px 0;
      padding: 10px 20px;
      background: #004698;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
}
div#services {
  background-color: #ab9799;
  & p2 {
    font-family: Atkinson;
    font-size: 1rem;
    font-weight: 200;
    color: black;
    letter-spacing: 3px;
    text-transform: none;
    text-align: center;
    margin: 20px 0;
    padding: 10px 20px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font-family: fantasy;
      font-size: 1.5rem;
      font-weight: 400;
      color: #f98b08;
      letter-spacing: 3px;
      text-transform: none;
      text-align: center;
      margin: 20px 0;
      padding: 10px 20px;
      background: #004698;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
  & ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    font-family: fantasy;
    color: #000;
    align-items: center;
    padding: 20px;
    border-radius: 5px black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 20px;
      background: #fec195;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  }
}
div#contact {
  display: flex;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #271e17;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    display: flex;
    color: #fec195;
    font-size: 24px;
    font-family: fantasy;
    gap: 10px;
    padding: 10px;
  }

  p {
    flex-direction: column;
    font-family: fantasy;
    display: flex;
    color: #fec195;
    font-size: 1rem;
    gap: 10px;
    padding: 10px;
  }

  /* Styles du formulaire */
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
  }

  label {
    display: flex;
    font-weight: bold;
    color: #fec195;
    text-align: left;
  }

  input,
  textarea {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: wheat;
  }

  input:focus,
  textarea:focus {
    display: flex;
    border-color: #007bff;
    outline: none;
  }
  button {
    align-items: center;
    background-image: linear-gradient(144deg, #ff9a76, #ff6363 50%, #ff1e62);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(255, 154, 118, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:active,
  button:hover {
    outline: 0;
  }

  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  button:hover span {
    background: none;
  }

  button:active {
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 768px) {
  header {
    & div#logo {
      display: flex;
    }
    & nav {
      display: flex;
      & ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    }
  }
}
