img {
  max-width: 50%;
}

html {
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

header {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between; */
  /* id="logo" */
}
#logo img {
  height: 60px;
}
& nav {
  flex-grow: 1;
  & ul {
    list-style-type: none;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    display: flex;
    & li {
      & a {
        text-decoration: none;
      }
    }
  }
}
